.userViewWrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 50px;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.personalDataWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
}

/* .personalDataItem {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
} */

.personalDataItemCols {
    display: grid!important;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}