.dashboard-header__wrap {
    display: flex;
    width: 99%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.favMenu__icon {
    display: flex;
    justify-content: flex-end;
    min-width: auto!important;
}

.favMenu__icon_autoWidth {
    min-width: auto!important;
}

.favMenu__icon_autoWidth span {
    display: inline-block;
    padding-right: 5px;
}

.favMenu__icon svg {
    transition: 0.2s;
}

.favMenu__icon:hover svg {
    transform: scale(1.35);
}

.minMenu__item {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.minMenu__item-icon {
    padding-right: 10px;
}

.favMenu__minLink {
    padding: 5px 0;
    text-decoration: none;
}