.table__header-title{
    margin-top: -10px;
    height: 40px;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding-top: 5px;
}
/* 
.cell{ 
    width: 100px;
} */
/* 
.MuiTableCell-root.MuiTableCell-body{
    max-width: 100px;
} */

/* .MuiTableCell-root.MuiTableCell-head {
    padding-bottom: 2px;
} */

.MuiInputBase-input.MuiOutlinedInput-input{
    padding: 0px;
    padding-left: 10px;
    height: 30px;
    margin: 0px;
    box-sizing: content-box;
    outline-offset: -10px;
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused{
    box-sizing: content-box;
    border-radius: 0px;

}


