.simple-image {
    padding: 20px 0;
    max-width: 100%;;
}

.simple-image input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.5;
    background-color: #3F3939;
    color: white;
}
.simple-image img {
    max-width: 100%;
    margin-bottom: 15px;
}
.simple-image.withBorder img {
}

.simple-image.withBackground {
    padding: 10px;
}

.simple-image.withBackground img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}