.button-steps__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
}

.btn{
    width: auto;
    position: absolute; 
    bottom: 15px; 
    right: 15px; 
}

.mainInfo__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainInfo__wrapper-grid{
    margin: 0 auto;
    max-width: 40%;
    justify-content: center;
}

/* .request__container{    
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    height: 96%;
} */

.mainInfo__wrapper-speaks{
    margin: 0 auto;
    max-width: 40%;
    justify-content: center;
    padding-top: 70px;
    
}

.additional-info_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.additional-info_wrapper-grid{
    margin: 0 auto;
    max-width: 40%;
    justify-content: center;    
}

.edit-family__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-family_wrapper-grid{
    margin: 0 auto;
    max-width: 40%;
    justify-content: center;    

}

.fixed-height__input{
    height: 64px;
}

.pt-4{
    padding-top: 4px;
}

.MuiStepper-root.MuiStepper-horizontal{
    padding-left: 14px;
}

.adresses__modal{
    border: black 2px solid;
}

.messageValidation{
    color: red;
    font-size: 13px;
    margin-left: 10px;
}

.MuiPaper-root.MuiDialog-paper{
    padding: 10px;
}

.edit-contact__contact-wraper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.edit-contact__number-wrapper{
    width: 65%;
    margin-left: 10px;
}

.edit-contact__code-wrapper{
    width: 25%;
}

.summary__paper-header{
    padding: 10px;
}

.summary__paper-body{
    padding: 10px;
}

.summary__paper-table{
    margin: 10px 0px;
    width: 100%;
}

.summary__table{
    padding-bottom: 10px;
    padding-top: 10px;
}

