.fullWidth {
	width: 100%;
}

.flexColumnCenter {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flexCenterColumnCenter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.container {
	max-height: 75vh;
}
.userAvatar {
	width: 60px;
	transition: 0.2s;
}

.userAvatar:hover {
	transform: scale(1.5);
}

.usersDateRangeDob {
	width: min-content;
	position: absolute !important;
	right: -40px;
	top: 10px;
}

.usersDateRangeDob .rdrDefinedRangesWrapper {
	display: none;
}
